
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    position: fixed;
    width: 25%;
    border: blue 10px solid;
    margin: 5px;
    padding: 5px;
    bottom: 100px;
    right: 56px;
    font-size: 45px;

}

#two{
    position: fixed;
    width: 25%;
    border: green 10px solid;
    margin: 5px;
    padding: 5px;
    font-size: 45px;
    top: 30px;
    right: 56px;
}

#three{
    position: fixed;
    width: 25%;
    border: orange 10px solid;
    margin: 5px;
    padding: 5px;
    font-size: 45px;
    top: 30px;
    left: 56px;
}

#four{
    position: fixed;
    width: 25%;
    border: yellow 10px solid;
    margin: 5px;
    padding: 5px;
    font-size: 45px;
    left: 56px;
    bottom: 100px;
}

#link{
    margin: auto;
    width: 10%;
    background: green;
    text-align: center;
    border: green;
    border-width: thick;
}

a {
    color: white;
    text-decoration:none;
    font-size: 50px;
}